<% content_for(:title) { "DT 2017 Sales" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="companies" data-view="List" data-unordered="true" data-title="Companies" data-moreinfo="# of tickets purchased"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="tickets" data-view="List" data-unordered="true" data-title="Tickets purchased" data-moreinfo="# of tickets purchased"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="keynotes" data-view="Meter" data-title="Keynotes (day 1)" data-min="0" data-max="700"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="titles" data-view="List" data-unordered="true" data-title="Titles" data-moreinfo="# of registered"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="workshops" data-view="Meter" data-title="Workshops" data-min="0" data-max="700"></div>
    </li>
  </ul>
</div>